*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
body {
    max-width: 1320px;
    margin: 0 auto;
}
header {
    padding: 30px 150px;
    background-color: rgba(255, 144, 14, 0.1);
}

/* 
=======================>Navbar_Section styles<=======================
 */
header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF4E7;
    position: sticky;
    top: 0; 
}
.navbar a {
    text-decoration: none;
}
.navbar .logo {
    width: 40%;
}
.navbar a.logo {
    color: #131313
}
.navbar .logo h2 {
    font-size: 45px;
}
.navbar #menu, .navbar label[for="menu"] {
    display: none;
}
.navbar nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.navbar nav a {
    color: #424242;
    font-weight: 700;
}

/* 
=======================>BannerOfHeader_Section styles<=======================
 */
.banner {
    margin-top: 100px;
}
.banner .banner_description {
    text-align: center;
    margin-bottom: 25px;
}
.banner_description h1 {
    font-size: 3.5rem;
    margin-bottom: 25px;
}
.banner_description p {
    color: #727272;
    margin-bottom: 25px;
}
button.primary_btn {
    background-color: #FF900E;
    color: #FFF;
    padding: 20px 25px;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}
.banner_image img {
    width: 100%;
}

/* 
=======================>Feature_list_Section styles<=======================
 */
.features_list_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 150px;
}
.feature_images, .feature_description {
    width: 47%;
}
.feature_images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}
.feature_images img {
    width: 100%;
}
.feature_description h3 {
    font-size: 45px;
}
.feature_description h3 .light_text {
    font-weight: lighter;
    color: #727272;
}
.feature_description h3 .feature {
    color: #FF900E;
}
.feature_description p {
    margin: 20px 0;
    color: #727272;
}

/* 
=======================>Architect_Features_Section styles<=======================
 */
.architect_features_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 150px;
}
.architect_features_description, .architect_features_image {
    width: 46%;
}
.architect_features_description h3 {
    padding-left: 15px;
    position: relative;
    color: #131313;
    font-size: 45px;
}
.architect_features_description h3::before {
    content: ' ';
    height: 100%; width: 3px;
    background-color: #FF900E;
    position: absolute;
    top: 0; left: 0;
}
.architect_features_description > p {
    color: #727272;
    margin: 17px 0;
}
.architect_features_image img {
    width: 100%;
}
.features {
    display: grid; 
    gap: 15px;
    grid-template-columns: 1fr;
}
.features .feature {
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 lightgray;
}
.feature h5 {
    font-size: 20px;
}
.feature p {
    color: #727272;
    margin-top: 8px;
    font-size: 14px;
}
.architect_features_image {
    position: relative;
}
.architect_features_image .experience_btn {
    width: 230px; height: 120px;
    outline: none; border: none;
    color: #fff;
    background-color: #FF900E;
    border-radius: 8px;
    position: absolute;
    bottom: -40px; left: -50px;
}
.experience_btn h4 {
    font-size: 45px;
}
.experience_btn p {
    font-size: 25px;
}

/* 
=======================>Facts_Section styles<=======================
 */
.facts_container {
    padding: 75px 150px;
    text-align: center;
}
.facts_container h3 {
    font-size: 45px; color: #131313;
}
.facts_container > p {
    margin: 20px 0 35px;
    color: #727272;
}
.facts_container .facts {
    display: flex;
    justify-content: space-between; align-items: center;
}
.facts .fact {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 150px;
    padding: 15px 8px 8px;
    transition: all 0.5s ease-in;
}
.fact:hover, .fact:focus {
    background-color: #FF900E;
    transform: scale(1.1);
}
.fact:hover *{
    color: #FFF;
}
.fact h4 {
    margin: 10px 0;
}
.fact p {
    color: #727272;
    margin: 0 0 15px;
}

/* 
=======================>Contact_Section styles<=======================
 */
.contact_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 150px;
    background-color: #FF900E1a;
}
.mail_phone h3 {
    text-align: center;
    font-size: 35px;
}
.mail_phone p {
    margin: 15px;
    line-height: 30px;
    text-align: center;
}
.social_media {
    display: flex;
    justify-content: space-evenly; align-items: center;
}
.subscribe h4{
    font-size: 25px;
}
.subscribe input, .subscribe button {
    padding: 12px 20px;
    outline: none; border: none;
    border-radius: 5px;
}
.subscribe input {
    width: 300px;
    margin: 25px 0;
}
.subscribe button {
    color: #fff;
    background-color: #FF900E;
    font-weight: bold;
    cursor: pointer;
}

/* 
=======================>Sponsor_Section styles<=======================
*/
.sponsors_container {
    text-align: center;
    padding: 75px 150px;
}
.sponsors_container h3 {
    font-size: 45px;
    color: #131313;
}
.sponsors_container p {
    color: #727272;
    margin: 25px 0;
}
.sponsors_container .sponsors {
    margin-top: 18px;
    display: flex;
    justify-content: space-between; align-items: center;
}

/*
=======================>Footer_Section styles<=======================
*/
footer {
    margin: 50px 150px;
    padding: 15px;
    text-align: center;
    background-color: #FFF4E7;
    border-radius: 8px;
}

/* 
__________________________________________________________________________________________
Some Simple Configurations according to the different devices created when website is open
------------------------------------------------------------------------------------------
*/

/*
=======================>1st configuration<=======================
*/
@media only screen and (max-width: 1165px){
    .navbar .logo {
        width: 60%;
    }
    .navbar nav {
        width: 35%;
    }
    .architect_features_description h3 {
        font-size: 35px;
    }
    .architect_features_description > p {
        font-size: 15px;
    }
    .architect_features_image {
        width: 50%;
    }
    .architect_features_image .experience_btn {
        bottom: -25px;
        left: -15px;
    }
    .experience_btn h4 {
        font-size: 35px;
    }
    .sponsors_container .sponsors img {
        width: 80%;
    }
}

/*
=======================>2nd configuration<=======================
*/
@media only screen and (max-width: 1100px) {
    .navbar .logo {
        width: 60%;
    }
}

/*
=======================>3rd configuration<=======================
*/
@media only screen and (max-width: 1100px) and (min-width: 768px) {
    .architect_features_image .experience_btn {
        width: 100%;
        position: static;
        margin-top: 15px;
    }
}

/*
=======================>4th configuration<=======================
*/
@media only screen and (max-width: 1030px) {
    .navbar .logo {
        width: 50%;
    }
    .navbar nav {
        width: 45%;
    }
    .navbar .logo h2 {
        font-size: 38px;
    }
    .architect_features_container {
        padding: 70px 100px;
    }
}

/*
=======================>5th configuration<=======================
*/
@media only screen and (max-width: 920px) {
    header {
        padding: 65px 110px;
    }
    .features_list_container {
        flex-direction: column;
    }
    .features_list_container .feature_images, .features_list_container .feature_description {
        width: 100%;
    }
    .features_list_container .feature_description {
        margin-top: 40px;
        text-align: center;
    }
    .architect_features_container {
        padding: 25px 70px;
    }
    .facts_container, .contact_container {
        padding: 75px 100px;
    }
}

/*
=======================>6th configuration<=======================
*/
@media only screen and (max-width: 820px) and (min-width: 768px) {
    .architect_features_description h5 {
        font-size: 17px;
    }
    .architect_features_description p {
        font-size: small;
    }
    .facts_container {
        padding: 55px 80px;
    }
}

/* 
_________________________________________________________________________________________
                These styles for small devices like normal android phone
-----------------------------------------------------------------------------------------
*/
@media only screen and (max-width: 767px) {
    header {
        padding: 25px 70px;
    }
    header .navbar {
        position: relative;
    }
    .navbar a.logo {
        width: 60%;
    }
    .navbar .logo h2 {
        font-size: 30px;
    }
    .navbar label[for="menu"] {
        display: block;
    }
    .navbar nav {
        display: none;
        width: 60%;
        padding: 12px;
        text-align: center;
        font-size: 18px;
        flex-direction: column;
        background-color: rgb(255, 143, 14);
        border-radius: 8px;
        position: absolute;
        top: 130%;
        left: 20%;
    }
    .navbar nav a {
        padding: 8px;
        color: #FFF;
        border-bottom: 1px solid lightgray;
    }
    .navbar input[type="checkbox"]:checked ~ nav{
        display: flex;
    }

    .banner {
        margin-top: 40px;
    }
    .banner .banner_description h1 {
        font-size: 35px;
    }

    .features_list_container, 
    .architect_features_container,
    .contact_container {
        padding: 50px 40px;
        flex-direction: column;
    }
    .feature_images, .feature_description,
    .architect_features_description, .architect_features_image,
    .facts_container .facts .fact {
        width: 90%;
    }

    .feature_images {
        grid-template-columns: 1fr;
        margin-bottom: 20px;
    }

    .feature_images img {
        width: 100%;
    }
    .feature_description h3, 
    .architect_features_description h3,
    .facts_container h3,
    .sponsors_container h3 {
        font-size: 35px;
    }
    
    .architect_features_image,
    .contact_container .subscribe {
        margin-top: 50px;
    }

    .facts_container, .sponsors_container {
        padding: 50px 40px;
    }
    .facts_container .facts, 
    .sponsors_container .sponsors {
        flex-direction: column;
    }
    .facts .fact {
        margin: 12px 0;
    }
    .contact_container * {
        text-align: center;
    }
    .sponsors_container .sponsors img {
        width: 60%;
        margin: 20px 0;
    }
    footer {
        margin: 30px 50px;
    }
}

/* 
_________________________________________________________________________________________
                        These styles for extra-small devices
-----------------------------------------------------------------------------------------
*/
@media only screen and (max-width: 525px) {
    header {
        padding: 25px 35px;
    }
    .navbar a.logo {
        width: 70%;
    }
    .navbar .logo h2 {
        font-size: 22px;
    } 
}